<html lang="en">
    <head>
        <meta charset="UTG-8">
        <title>North Coyote</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
        <script type="text/javascript" src="/js/index.js"></script>
    </head>
    <body>
        <div class="updateDate">Update Time: <%= updateDate %></div>
        <div class="nav nav-north"><a href="/north">North</a></div>
        <div class="nav nav-south"><a href="/south">South</a></div>
        <div class="nav inspect-frequency">Auto Inspect frequency: <input type="text" value="<%= freq %>" id="aIF">s</div>
        <div class="nav stop-frequency" id="stopRefresh">Stop refresh</div>
        <div class="nav cont-frequency" id="contRefresh">Continue refresh</div>
        <div class="type" id="type" data-type="<%= type %>">Currently, you are select the lottery of <%= type %> coyote</div>
        <div class="filter">
            <ul>
                <li><input id="weekType" type="checkbox" onchange="itemFilter(this)" name="weekType"/>Weekends Only</li>
                <li>
                    <div>Number of People</div>
                    <select multiple id="numbers" onChange="itemFilter(this)" name="numbers">
                        <option value="0">All</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="content">
            <ul>
            <% collection.forEach(function(item) { %>
                <li class="item <%= item.isWeekends%>" data-weektype="<%= item.isWeekends %>" data-number="<%= item.number %>">
                    <span><%= item.date %></span>
                    <span><%= item.day %></span>
                    <span><%= item.number %></span>
                    <span><a href='<%= item.requestLink %>'>Book</a></span>
                </li>
            <% }) %>
            </ul>
        </div>
    </body>
</html>